.login {
  height: 100vh;
  width: 100%;
  .login_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .login_form {
      max-width: 342px;
      display: flex;
      margin-bottom: 50px;
      width: 100%;
      flex-direction: column;
      align-items: center;
      position: relative;
      .logo_wrapper {
        margin-bottom: 35px;
        width: 200px;

        img {
          width: 200px;
        }
      }

      .otp_login_wrapper {
        position: relative;
        width: 100%;
        height: 230px;
        display: flex;
      }

      .login_form_wrapper {
        height: 200px;
        max-width: 342px;
        width: 100%;
        .inputs_wrapper {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }

        .login_form_button {
          width: 100%;
          height: 48px;
          font-size: 15px;
          font-weight: 600;
          margin-top: 16px;

          background: $primary;
        }
      }

      .otp_form_wrapper {
        max-width: 342px;
        height: 200px;
        transition: $smooth;
        width: 100%;

        .otp_title {
          font-size: 15px;
          font-weight: 400;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 16px;
          p {
            color: $secondary_text;
            margin: 0;
          }
          span {
            color: $primary_black;
          }
        }
        .send_again {
          display: flex;
          justify-self: center;
          margin-top: 16px;
          span {
            font-size: 15px;
            font-weight: 600;
            color: $secondary_text;
          }
          .send_otp {
            color: $primary;
            cursor: pointer;
          }
        }
        .login_form_button {
          width: 100%;
          height: 48px;
          font-size: 15px;
          font-weight: 600;
          margin-top: 16px;
        }
      }

      .otp_active {
        transform: translateX(0);
      }

      .login_active {
        transform: translateX(-110%);
      }
    }
  }
}
