#root {
  height: 100%;
}
.ant-layout {
  height: 100vh;
  .ant-layout {
    padding: 8px;
    background-color: $primary_background;
    transition: $smooth;
    .ant-layout-header {
      margin-bottom: 8px;
      border-radius: 12px;
    }
    .ant-layout-content {
      transition: $smooth;
      margin: 0 !important;
      padding: 0 !important;
      border-radius: 12px !important;
      background-color: $primary_background !important;
      height: calc(100vh - 16px);
      overflow: hidden;
      
      .page {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }

  .demo_logo {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    max-width: 130px;
    .nav_logo {
      max-width: 120px;
      margin-left: 40px;
    }
   
    img {
      transition: all 0.3s ease;
    }
    .nav_logo_min {
      width: 40px;
    }
  }

  .ant-layout-sider {
    padding-bottom: 8px;
    padding-top: 8px;
    background-color: $primary_background;
    transition: $smooth;
    width: 272px !important;
    max-width: 272px !important;
    min-width: 272px !important;
    position: relative;

    .ant-layout-sider-children {
      background-color: $white;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      max-height: calc(100vh - 16px);
      position: relative;
      transition: $smooth;
    }

    .demo-logo-vertical {
      max-height: 100vh !important;

      height: 48px;
      margin-top: 30px;
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 16px;
      margin-bottom: 28px;
      .logo_wrapper {
        font-size: 32px;
        font-weight: 600;
        transition: all 0.3s ease;
      }
      .slider_open {
        height: 36px !important;
        width: 36px !important;
        position: absolute;
        right: 16px;
        border-radius: 12px;
        background-color: #f6f6f7;
        z-index: 3;
        transition: $smooth;
      }
    }
  }
  .ant-layout-sider-collapsed {
    width: 76px !important;
    max-width: 76px !important;
    min-width: 76px !important;
    .demo-logo-vertical {
      height: 48px;
      margin-top: 30px;
      display: flex;
      align-items: center;
      position: relative;
      .logo_wrapper {
        font-size: 12px;
      }
      .slider_open {
        right: -16px;
      }
    }
  }

  .ant-menu {
    background-color: $white;
    padding-right: 12px;
    padding-left: 12px;
    overflow: auto;
    border-inline-end: none !important;
    transition: $smooth;
    max-height: calc(100vh - 240px);
    padding-bottom: 40px;
    .ant-menu-item {
      color: $primary_black;
      transition: $smooth;
      font-weight: 500;
      font-size: 16px;
      height: 44px;
      // padding: 12px 16px !important;
      border-radius: 12px;
      display: flex;

      align-items: center;
      svg {
        min-width: 20px;
      }
    }
    .ant-menu-item-active {
      background-color: $primary_background !important;
      color: $primary_black !important;
      transition: $smooth;
    }
    .ant-menu-item-selected {
      color: #fff !important;
      background-color: $secondary !important;
      transition: $smooth;
      // display: flex;
      // justify-content: center
      padding: 0px 12px;
      // align-items: center;
      .icon {
        display: flex;
      }
    }
  }
}

.settings_modal {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 28px;
  padding-bottom: 40px;
  .setting_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    color: #606060;
    .label {
      color: $dark_white;
    }
  }
}

.bottom_menu {
  display: flex;
  position: absolute !important;
  bottom: 0;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  padding-bottom: 16px;
  // background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), transparent);
  // box-shadow: -53px -16px 45px 33px rgba(255, 255, 255, 1);
  .ant-menu {
    padding-bottom: 0 !important;
    .ant-menu-item-selected {
      background-color: $white !important;
      color: $primary_black !important;
    }
    .ant-menu-item {
      &:hover {
        background-color: $primary_background !important;
      }
    }
  }
}

.page {
  position: relative;
  display: flex;
}

.ic_logout {
  color: $danger !important;
}
.logout_btn {
  width: fit-content;
  display: flex;
  justify-content: start;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  height: 44px;
  padding: 0px 0px 0px 24px !important;
  transition: $smooth;
  &:hover {
    background-color: $primary_background;
  }
}

[data-theme="dark"] {
  .ant-layout {
    background-color: $dark_primary_background !important;
    .ant-layout {
      background-color: $dark_primary_background;

      .ant-layout-content {
        background-color: $dark_primary_background !important;
      }
    }

    .ant-layout-sider {
      background-color: $dark_primary_background;
      .ant-layout-sider-children {
        background-color: $dark_white;
      }

      .demo-logo-vertical {
        .slider_open {
          background-color: $dark_primary_background;
          .icon {
            color: $white !important;
          }
        }
      }
    }

    .ant-menu {
      background-color: $dark_white;
      .ant-menu-item {
        color: $dark_primary_black;
      }
      .ant-menu-item-active {
        background-color: $dark_primary_background !important;
        color: $dark_primary_black !important;
      }
      .ant-menu-item-selected {
        color: $white !important;
        background-color: $dark_forth_background !important;
      }
    }
  }

  .bottom_menu {
    background: none;
    box-shadow: none;
    .ant-menu {
      .ant-menu-item-selected {
        background-color: $dark_white !important;
        color: $white !important;
      }
      .ant-menu-item {
        &:hover {
          background-color: $dark_primary_background !important;
        }
      }
    }
  }
}

   .action_wrapper {

        align-items: center;
        .trash {
          color: $danger !important;
          cursor: pointer;
        }
      }